*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/iub4.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.logo{
    width: 90px;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a{
   color: #fff;
   text-decoration: none; 
}
nav ul li a:hover{
    color: #37eb0ac7;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.content h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}
.content input{
    width: 90%;
    max-width: 840px;
    height: 55px;
    border-radius: 30px;
    border: none;
    padding: 0 30px;
    outline: none;
    margin: 20px 0;
    font-size: 16px;
}
::placeholder{
    font-weight: 500;
    font-size: 16px;
}
.content a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.content a:hover{
    color: #37eb0ac7;
}
.content p:hover{
    color: aquamarine;
}

/* Card  */
.body{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}
.body img{
    margin: 18px 8px;
    padding: 5px 5px 5px 5px;
    width: 75%;
    cursor: pointer;
    transition: transform 3s;
}
.body img:hover{
    transform: scale(1.05);
}
.card-text:hover {
    color: #535353;
    font-weight: 500;
    font-size: 20px;
    color: cornflowerblue;

}
.card-title:hover{
    font-size: 700;
    color: darkcyan;

}
/* slider  */
.slider img{
    background-color:rgb(223, 230, 229);
    margin: 20px 0;
    padding: 75px 75px 75px 75px;
    width: 50%;
    height: 5%;
    cursor: pointer;
}

/* website  */
.website{
    color: brown;
    justify-content: center;
    padding-left: 10px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    display: flex;
    background-color: chocolate;

}

.website a{
    color: brown;
    background-color: blueviolet;
}
/* about  */
.about{
    display: flex;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    background-color: #535353;
}
